body {
  margin: 0;
  font-family: 'anakotmai';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagemar {
  margin-left: 200px;
  margin-right: 200px;
}
@media only screen and (max-width: 600px) {
  .pagemar {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.sticky-bottom{
  position: sticky;
    bottom: 0;
    z-index: 1020;
}

